extends layout

block content
	h1 File Size
	form(action="/", method="POST", enctype="multipart/form-data")
		.field
			input(type="file", name="upl").chooseFile
		.field
			input(type="submit").submit
	if file
		h4 File name:
			em= " " +  file.name
		p= "File type: " + file.type
		p= "File size: " + file.size + " bytes"
